@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background: $main_color;
        border-radius: 100%;
        z-index: -1;
        top: -25%;
        left: 0;
    }
}

@mixin before_circle_icon {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        background: $main_color;
        border-radius: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }
}