.inprogress {
    position: fixed!important;
    width: 465px;
    height: 90px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 72px;
    text-transform: uppercase;
    background: linear-gradient(15deg, $main_color 0%, #80d0c7 100%);
    opacity: 1;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    border-radius: 5px;
}