@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 60%/cover;
    }
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 65%/cover;
    }
    .about {
        width: 990px;
        &__container {
            grid-template-columns: 400px 520px;
            column-gap: 50px;
        }
        &__photo {
            width: 400px;
        }
        &__wrapper {
            width: 520px;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 520px;
        }
        &__descr {
            width: 520px;
        }
        &__skills {
            column-gap: 20px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 70%/cover;
    }
    .about {
        width: 766px;
        &__container {
            grid-template-columns: 340px 380px;
            column-gap: 40px;
        }
        &__photo {
            width: 340px;
            img {
                height: 600px;
            }
        }
        &__wrapper {
            width: 380px;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 380px;
            row-gap: 20px;
        }
        &__descr {
            width: 380px;
        }
        &__skills {
            column-gap: 20px;
            grid-template-columns: 360px;
            grid-auto-rows: minmax(115px, auto);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 30px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 75%/cover;
        &__title {
            width: 370px;
            line-height: 40px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 24px;
            text-shadow: 1px 1px 5px #fff;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 75%/cover;
        &__title {
            width: 300px;
            line-height: 39px;
        }
        &__btns {
            margin-top: 45px;
        }
    }
}